nextjs-web/.next
nextjs-web/node_modules
nextjs-web/.env

nestjs-learn/dist
nestjs-learn/node_modules
nestjs-learn/.env
.DS_Store
nestjs-learn/.samignore
nestjs-learn/SAM学习笔记.md
nestjs-learn/samconfig.toml
